
body {
  max-width: 375px;
  margin: auto;
  background: #e3bd4a87;
	font-family: noka, sans-serif;
	color: white;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
	padding: 30px;
  margin:0;
}

h2 {
	font-family: marigny, sans-serif;
  font-size: 27px;
  margin:5px 0 5px 0;
}

ul {
  list-style-image: url(../img/fleche.svg);
}

.intro,
.art,
.skate,
.music,
.food,
footer{
  padding: 25px;
}

.art,
.music,
footer,
.box-titel,
.link{
  background: #e3bd4a;
}

.intro,
.skate,
.food {
  background-color: black;
}

.wrapper {
	height: 225px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
  background-color: black;
  padding-bottom: 20px;
}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	height: 225px;
	width: 225px;
	z-index: 2;
}

.wrapper:after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.wrapper:before {
	left: 0;
	top: 0;
}

.wrapper .track {
	display: flex;
	width: calc(450px * 5);
	animation: scroll 20s 0s alternate linear infinite;
}

.wrapper .img-skate {
	height: 380px;
  width: 380px;
}

.wrapper .img-skate img {
	height: 380px;
  width: 380px;
  overflow: clip;
}

@keyframes  scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-380px * 4));
	}
}